body {
    font-family: 'Roboto';
    background-color: #3B3F45;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #4A4F56;
}

.header-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    padding-top: 20px;
    margin-bottom: 5px;
    color: #FF8984;
}

.header-text {
    font-size: 16px;
    line-height: 19px;
    padding-bottom: 12px;
    color: #FF8984;
}

.container {
    margin-top: 20px;
}

.list {
    width: 540px;
    margin-left: auto;
    margin-right: auto;
}

.item {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    height: 45px;
    background-color: #88839E;
    color: #FFFFFF;
}

.item:nth-child(even) {
    background-color: #7A7593;
}

.item:active {
    background-color: #FF8984;
}

label:hover {
    border-top: 3px solid #FFFFFF;
    border-bottom: 3px solid #FFFFFF;
    background-color: #625E77;
}

input[type="checkbox"]{
    width: 19px;
    height: 19px;
    left: 141px;
    top: 114px;
    margin-left: 10px;
}

.item-title {
    margin-left: 15px;
    display: flex;
    align-items: center;
    align-content: center;
}

.item-text {
    font-size: 11px;
}

.item-text::before {
    content: '\00a0\00a0(';
}

.item-text::after {
    content: ')';
}

input:checked + .item-title {
    text-decoration: line-through;
    text-decoration-thickness: 2px;
    color: #9B96AC;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 540px;
    height: 45px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 45px;
    background-color: #4A4F56;
    border: none;
}

.button:hover {
    border: 3px solid #FFFFFF;
    background-color: #625E77;
}

.button:active {
    background-color: rgb(214, 84, 95);
}

.button-text {
    color: #FF8984;
}