@import "reset.css";
body {
  font-family: "Montserrat", sans-serif;
}

.header {
  display: flex;
  align-items: center;
  padding: 15px 0;
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
  margin: 0 auto;
}
@media screen and (max-width: 1024px) {
  .wrapper {
    width: 95%;
  }
}
@media screen and (max-width: 1024px) {
  .wrapper-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
  }
}

.header__nav a:hover {
  color: #FF9900;
}
.header__nav ul {
  display: flex;
  gap: 20px;
}
.header__nav-item {
  display: flex;
  flex-direction: row;
}
.header__nav-item-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #2F281E;
  text-decoration: none;
}

.header__buttons {
  display: flex;
  gap: 32px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 13px 25px;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  background: #FF9900;
  border-radius: 4px;
  border: 0;
}
.button--bordered {
  border: 1px solid #BCD0E5;
  background: #FFFFFF;
  color: #2F281E;
}
.button--big {
  width: 180px;
  height: 50px;
}

.start-section {
  margin: 70px 0 100px;
}
.start-section__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 500px;
}
@media screen and (max-width: 768px) {
  .start-section__text {
    text-align: center;
    align-items: center;
    justify-content: center;
  }
}
.start-section__text-title {
  font-weight: 700;
  font-size: 44px;
  line-height: 54px;
  color: #2F281E;
  padding-bottom: 30px;
}
@media screen and (max-width: 1024px) {
  .start-section__text-title {
    font-size: 36px;
  }
}
.start-section__text-subtitle {
  font-size: 18px;
  line-height: 28px;
  color: #544837;
  padding-bottom: 20px;
}
@media screen and (max-width: 1024px) {
  .start-section__text-subtitle {
    font-size: 16px;
  }
}
@media screen and (max-width: 768px) {
  .start-section__pick {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .wrapper-start-section {
    justify-content: center;
  }
}

.wrapper--fd-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1440px;
}
@media screen and (max-width: 1024px) {
  .wrapper--fd-column {
    width: 95%;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.features-section {
  background-image: url("../../assets/images/bg.png");
  background-position: bottom center;
  background-repeat: no-repeat;
  margin-bottom: 100px;
}
@media screen and (max-width: 1024px) {
  .features-section {
    background: none;
  }
}
.features-section__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  color: #2F281E;
}
@media screen and (max-width: 1024px) {
  .features-section__title {
    font-size: 34px;
  }
}
.features-section__cards {
  display: flex;
  justify-content: space-between;
  gap: 45px;
  width: 1200px;
  margin: 50px 0 70px;
}
@media screen and (max-width: 1024px) {
  .features-section__cards {
    width: 95%;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 60px;
  }
}
.features-section__cards-item {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 270px;
}
.features-section__cards-item img {
  width: 50px;
  height: 50px;
}
.features-section__cards-item-title {
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
  color: #2F281E;
}
.features-section__cards-item-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #544837;
}

.wrapper-footer {
  display: flex;
  align-items: flex-start;
  border-top: 1px solid rgba(188, 208, 229, 0.4980392157);
  padding: 70px 0;
}
@media screen and (max-width: 1024px) {
  .wrapper-footer {
    width: 95%;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
  }
}
@media screen and (max-width: 768px) {
  .wrapper-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;
  }
}

.footer-lists {
  display: flex;
  gap: 30px;
}

.footer-section {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 135px;
}
.footer-section a:hover {
  color: #FF9900;
}
.footer-section__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #2F281E;
}
.footer-section__list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.footer-section__list-item a {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #544837;
  text-decoration: none;
}
.footer-section__form {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
@media screen and (max-width: 768px) {
  .footer-section__form {
    text-align: center;
    align-items: center;
  }
}
.footer-section__form-input {
  border: 1px solid #BCD0E5;
  border-radius: 4px;
  padding: 0px 10px;
  width: 340px;
  height: 50px;
}

@media screen and (max-width: 1024px) {
  .logo-container {
    order: 4;
    margin-top: 65px;
  }
}
@media screen and (max-width: 768px) {
  .logo-container {
    order: 1;
  }
}/*# sourceMappingURL=style.css.map */